// Define variables for your color scheme

// Pablo
$white: #f7F7F7;
$light-gray: #7E7E7E;
$grey:#555555;
$darkgrey: #303030;
$black: #1C1C1C;


// For example:
$red: #EE494A;
$blue: #12A9D2;
$yellow: #FCC57A;
$orange: #FD763E;
$green: #1EDD88;
$gray: #555555;
$light-gray: #7E7E7E;
