<div class="container-application main-content" data-controller="interaction">
  <div style="margin-left: 50px; margin-right: 50px;">
      <%# // -------------------- EVENTS ----------------- // %>
      <h2>My Calendar</h2>

      <div style="background-color: #262525 !important; border-radius: 16px;">

      <!-- Modal to add a new event -->
      <div class="modal fade" id="newInteractionModal" data-interaction-target="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="newInteractionModalLabel">New Interaction</h5>
              <button type="button" class="close" data-action="click->interaction#closeModal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modal">
              <%= render 'interactions/form', interaction: @interaction %>

            </div>
          </div>
        </div>
      </div>


      <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#newInteractionModal">
        <i class="fa-solid fa-circle-plus"></i> Add an interaction
      </button>

  </div>
  <!-- Create calendar -->
  <div data-interaction-target="calendar">
    <%= render "interactions/month_calendar", interactions: @interactions %>
  </div>
</div>
