  <div class="m-5" style="height: 300px;" data-controller="notes-form">
    <div>
      <%# <button name="button" type="submit" class="btn">
        <i class="fa-solid fa-circle-plus btn-text"></i> Add a note
      </button>
      <div class="d-flex mb-3 card-task" style="align-items: center;">
      <div class="icon-task p-3">
        <i class="fa-regular fa-note-sticky"></i>
      </div>
        <div class="p-3">
          <p class="padding-card card-task-title d-flex">Title - Date</p>
          <p class="padding-card">Content</p>
        </div>
        </div> %>


      <%= simple_format job_application.notes %>

      <%= simple_form_for job_application, html: { id: 'notes-form', data: { action: 'submit->notes-form#submit' } } do |form| %>
        <%= form.input :notes, as: :text, input_html: { rows: 10 } %>
        <%= form.button :submit, 'Save Notes', class: 'btn-flat', data: { disable_with: 'Saving...' } %>
      <% end %>
    </div>
  </div>
