<div class="container-application main-content">
  <div class="ms-5">
    <h2>My job applications</h2>
    <div class="mt-5">
      <%= render "job_applications/pipeline" %>
    </div>

  </div>
</div>
