<nav class="sidebar" data-controller="sidebar">
  <header>
    <div class="image-text">
      <span class="image">
        <img src="https://res.cloudinary.com/dkr1l2a2k/image/upload/v1709761265/EEEAFB_myuic7.png" alt="Logo">
      </span>

      <div class="text header-text">
        <span class="name">Pablo</span>
      </div>
    </div>
    <span class="toggle-wrapper">
      <i class="fa-solid fa-angles-right toggle" data-action="click->sidebar#toggleMenu"></i>
    </span>
  </header>

  <div class="menu-bar">
    <div class="menu-links">
      <li class="search-box">
        <i data-action="click->sidebar#toggleMenu" class="alignement fa-solid fa-magnifying-glass gradient-text" style="margin-right: 10px;"></i>
        <input type="search" placeholder="Enter a keyword..." class="search-input-no">
      </li>
      <ul class="menu-links">
        <li class="nav-link">
          <a href="#">
            <i class="fa-solid fa-house gradient-text" style="margin-right: 10px;"></i>
            <span class="text nav-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class="fa-solid fa-calendar-days gradient-text" style="margin-right: 10px;"></i>
            <span class="text nav-text">Calendar</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class="fa-solid fa-briefcase gradient-text" style="margin-right: 10px;"></i>
            <span class="text nav-text">Job Applications</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="bottom-content">
      <li class="">
        <a href="#">
          <i class="fa-solid fa-right-from-bracket gradient-text" style="margin-right: 10px;"></i>
          <span class="text nav-text">Logout</span>
        </a>
      </li>
      </li>
    </div>
  </div>
</nav>
