<nav class="sidebar" data-controller="sidebar">
  <header>
    <div class="image-text">
      <a href="/">
        <span class="image">
          <img src="https://res.cloudinary.com/dkr1l2a2k/image/upload/v1710097304/EEEAFB_4_aupzcb.png" alt="Logo">
        </span>
        </a>


      <div class="text header-text">
        <span class="name">Pablo</span>
      </div>
    </div>
    <span class="toggle-wrapper">
      <i class="fa-solid fa-angles-right toggle" data-action="click->sidebar#toggleMenu"></i>
    </span>
  </header>

  <div class="menu-bar">
    <div style="margin-top: 60px;">
      <div class="d-flex align-items-center">
        <i class="fa-solid fa-magnifying-glass me-2 gradient-text center-zoom" style="font-size: 20px;" data-action="click->sidebar#toggleMenu"></i>






        <li class="search-box search-input-no">
          <%= form_with url: job_applications_path, method: :get, html: {data: {search_bar_target: "form"}} do |f| %>
            <%= f.text_field :query,
                  class: "form-control",
                  placeholder: "Type a keyword",
                  value: params[:query],
                  data: {search_bar_target: "input", action: "keyup->search-bar#search"} %>
          <% end %>
        </div>
      </li>
      <ul class="menu-links">
        <li class="nav-link">
          <a href="/">
            <div>
              <i class="fa-solid fa-house gradient-text" style="margin-right: 10px;"></i>
            </div>
            <span class="text nav-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="/interactions">
            <i class="fa-solid fa-calendar-days gradient-text" style="margin-right: 10px;"></i>
            <span class="text nav-text">Calendar</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="/job_applications">
            <i class="fa-solid fa-briefcase gradient-text" style="margin-right: 10px;"></i>
            <span class="text nav-text">Job Applications</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="bottom-content">
      <li class="">
         <%= link_to destroy_user_session_path,  data: {turbo_method: :delete} do %>
          <i class="alignement fa-solid fa-right-from-bracket gradient-text" style="margin-right: 10px;"></i>
          <span class="text nav-text">Sign out</span>
        <% end %>
      </li>
    </div>
  </div>
</nav>
