<div class="container ">

<%# ------------- // BUTTON // ------- %>
  <div class="p-5 d-flex flex-row-reverse">
  <a href="chemin_vers_votre_page" class="btn btn-task">
    <i class="fa-solid fa-circle-plus"></i> Add a task
  </a>
  </div>


<%# ------------- // TASKS MESSAGE // ------- %>
    <div class="ms-5 me-5 d-flex justify-content-between">
      <p style="font-size: 20px; font-weight: bold;">Well done! You're almost done</p>
      <p style="font-size: 20px; font-weight: bold;">3 steps to complete</p>
    </div>

  <%# <div class="line-between-divs"></div> %>

<%# ------------- // PROGRESS BAR // ------- %>
  <div class="progress">
    <div class="progress-bar" style="width: 70%; font-weight: bold; font-size: 16px">70%</div>
  </div>


<%# ------------- // TASKS CARDS // ------- %>
    <div class="ms-5 me-5">
      <div class="d-flex mb-3 card-task" style="align-items: center;">
      <% if current_user.present? %>
      <div class="icon-task p-3">
        <i class="fa-solid fa-envelope"></i>
      </div>
        <div class="p-3">
        <div class="task-cards">
          <% @tasks.each do |task| %>
            <div class="task-card">
              <h5><%= task.name %></h5>
              <p><%= task.description %></p>
            </div>
          <% end %>
            <%else%>
            <p></p>
        <% end %>
        </div>
        <input class="ms-auto p-2 custom-checkbox" type="checkbox" id="scales" name="scales" />
      </div>
    </div>
</div>
