<div class="container">
  <div class="p-5 m-5">
    <button name="button" type="submit" class="btn btn-flat">
     <i class="fa-solid fa-circle-plus"> Add a task </i>
    </button>
  </div>

    <div class="ms-5 me-5 d-flex justify-content-between">
      <p>Well done! You're almost done</p>
      <p>3 steps to complete</p>
    </div>

  <div class="line-between-divs"></div>

    <div class="ms-5 me-5">
      <div class="d-flex mb-3 card-task" style="align-items: center;">
      <div class="icon-task">
        <i class="fa-solid fa-envelope"></i>
      </div>
        <div class="">
          <p class="p-2 card-task-title d-flex">Task title</p>
          <p class="p-2 card-task-details">Details task 2</p>
        </div>
        <input class="ms-auto p-2 custom-checkbox" type="checkbox" id="scales" name="scales" checked />
      </div>
    </div>
</div>
