<div class="job-card">
  <h5 style="font-size: 16px"><%= job_application.job_title %></h5>
  <p><i class="fa-solid fa-building" style="margin-right: 10px" ></i><%= job_application.company.name %></p>
  <p><i class="fa-solid fa-location-dot" style="margin-right: 10px"></i><%= job_application.job_location %></p>
</div>
