<div class="container-application main-content">
  <div class="row justify-content-center">
    <div class="col-md-4 container-colored">
    <%# // -------- EVENTS ------------ // %>
      <h3 class="mt-6 ms-2" style="padding: 10px;">My upcoming events</h3>
      <%# <%= render "pages/event" %> %>
    </div>
    <div class="col-md-7">
    <%# // -------- TASKS ------------ // %>
      <%= render "shared/tasks" %>
    </div>
  </div>
    <%# // -------- PIPELINE ------------ // %>
    <div class="col-md-12 mt-3">
      <h3 class="mt-6 ms-5" style="padding: 10px;">My job applications</h3>
      <%= render "job_applications/pipeline" %>
    </div>
</div>
