<div class="container-application main-content">
  <div class="row justify-content-center ms-5 me-5">
    <div class="col-md-5 container-colored">
    <%# // -------- EVENTS ------------ // %>
        <div class="d-flex align-items-center text-align-center">
          <h3 class="mt-6 ms-2" style="padding: 10px; margin-right: 13px;">Upcoming events</h3>
          <img src="https://res.cloudinary.com/dkr1l2a2k/image/upload/v1710102865/EEEAFB_13_jy4njo.png" alt="" style="height: 160px; margin-top: -66px;">
        </div>
      <div>
          <%= render "pages/event" %>
      </div>
    </div>
    <div class="col-md-7">
    <%# // -------- TASKS ------------ // %>
      <%= render "shared/tasks" %>
    </div>
  </div>
    <%# // -------- PIPELINE ------------ // %>
    <div class="col-md-12 mt-3">

        <h3 class="mt-6 ms-5" style="padding: 10px;">My job applications</h3>
      <%= render "job_applications/pipeline" %>
    </div>
</div>
