<div class="container-application main-content">
  <div class="row justify-content-center ms-5 me-5">
    <div class="col-md-5 container-colored">
    <%# // -------- EVENTS ------------ // %>
      <div>
        <h3 class="mt-6 ms-2" style="padding: 10px;">My upcoming events</h3>
        <%= render "pages/event" %>
      </div>
    </div>
    <div class="col-md-7">
    <%# // -------- TASKS ------------ // %>
      <%= render "shared/tasks", tasks: @tasks %>
    </div>
  </div>
    <%# // -------- PIPELINE ------------ // %>
  <div>
    <%= render "job_applications/pipeline", { just_applied_applications: @just_applied_applications, first_interview_applications: @first_interview_applications, advanced_process_applications: @advanced_process_applications, offer_process_applications: @offer_process_applications } %>
  </div>

</div>
