



<%= render "shared/flashes" %>
<%= render "shared/tasks" %>

<%# // TIMELINE // %>
<ul class="timeline">
  <div class="white-line"></div>
  <li class="timeline-item">
    <div class="timeline-item-content">
      <div class="bubble-white my-4"></div>
      <h3>Étape 1</h3>
      <p>Description de l'étape 1...</p>
      <span class="timeline-item-date">01/03/2024</span>
    </div>
  </li>
  <div class="white-line"></div>
  <li class="timeline-item">
    <div class="timeline-item-content">
      <div class="bubble-white my-4"></div>
      <h3>Étape 2</h3>
      <p>Description de l'étape 2...</p>
      <span class="timeline-item-date">05/03/2024</span>
    </div>
  </li>
  <div class="white-line"></div>
  <li class="timeline-item">
    <div class="timeline-item-content">
      <div class="bubble-white my-4"></div>
      <h3>Étape 3</h3>
      <p>Description de l'étape 3...</p>
      <span class="timeline-item-date">10/03/2024</span>
    </div>
  </li>
  <div class="white-line"></div>
  <li class="timeline-item">
    <div class="timeline-item-content">
      <div class="bubble-white my-4"></div>
      <h3>Étape 4</h3>
      <p>Description de l'étape 4...</p>
      <span class="timeline-item-date">15/03/2024</span>
    </div>
  </li>
  <div class="white-line"></div>
</ul>
