<div class="container-application main-content">
  <div class="ms-5">
    <h2>Results</h2>

    <%# // ----------- TABS ------- // %>
    <div class="d-flex mt-4">
      <ul class="list-inline tabs-underlined">
        <li>
          <a href="#" class="tab-underlined active">All</a>
        </li>
        <li>
          <a href="#" class="tab-underlined">Task</a>
        </li>
        <li>
          <a href="#" class="tab-underlined">Job application</a>
        </li>
        <li>
          <a href="#" class="tab-underlined">Company</a>
        </li>
        <li>
          <a href="#" class="tab-underlined">Contact</a>
        </li>
        <li>
          <a href="#" class="tab-underlined">Event</a>
        </li>
      </ul>
    </div>

  <%# // ---------------- CARD TASK RESULT ------------ // %>
    <div>
      <div class="search-list">
        <div class="d-flex search-card justify-content-between">
          <div>
            <p>Title</p>
            <p class="search-card-details">Details</p>
          </div>
          <div>
              <p class="search-tag-task">#TASK</p>
          </div>
        </div>

<%# // ---------------- CARD JOB APPLICATION RESULT ------------ // %>
        <div class="d-flex search-card justify-content-between">
          <div>
            <p>Title - Company</p>
            <p class="search-card-details">Description ...</p>
            <a href="lien-de-destination" class="btn btn-task" style="text-decoration: underline;">
              See details
            </a>

          </div>
          <div>
              <p class="search-tag-job">#JOB APPLICATION</p>
          </div>
        </div>

<%# // ---------------- CARD COMPANY RESULT ------------ // %>
        <div class="d-flex search-card justify-content-between">
          <div>
            <p>Title</p>
            <p class="search-card-details">Details</p>
          </div>
          <div>
              <p class="search-tag-company">#COMPANY</p>
          </div>
        </div>

<%# // ---------------- CARD CONTACT RESULT ------------ // %>
<div class="d-flex search-card justify-content-between">
          <div>
            <p>NAME - Company</p>
            <p class="search-card-details">Jobtitle</p>
          </div>
          <div>
              <p class="search-tag-contact">#CONTACT</p>
          </div>
        </div>
<%# // ---------------- CARD EVENT RESULT ------------ // %>
<div class="d-flex search-card justify-content-between">
          <div>
            <p>Title - Date</p>
            <p class="search-card-details">Location</p>
          </div>
          <div>
              <p class="search-tag-event">#EVENT</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
