.btn-flat {
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background-image: linear-gradient(to left, #9796f0, #fbc7d4);
  color: $white;
}

.btn-task i{
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  color: #9796f0;
  -webkit-background-clip: text; /* Pour les navigateurs basés sur WebKit */
  background-clip: text; /* Définir le clip sur le texte */
  color: transparent;
  font-size: 20px;
}

.btn-task {
  text-align: center;
  color: $white; /* Couleur du texte */
  height: fit-content;
  width: fit-content;
  padding: 8px;
}

.btn-add-task {
  text-align: center;
  color: $white; /* Couleur du texte */
  height: fit-content;
  width: fit-content;
  padding: 4px;
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  border-radius: 16px;
}

.btn-add-task:hover {
  background-image: linear-gradient(to left, #9796f0, #fbc7d4);
  font-weight: bolder;
}

.btn-text {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  color: #9796f0;
  -webkit-background-clip: text; /* Pour les navigateurs basés sur WebKit */
  background-clip: text; /* Définir le clip sur le texte */
  color: transparent;
  border: $white;
  font-size: 16px;
}

.edition-button {
  background-color: #007bff; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte */
  border: none; /* Supprime la bordure */
  border-radius: 4px; /* Arrondi des coins */
  cursor: pointer; /* Curseur au survol */
  transition: background-color 0.3s ease;
}

.edition-button:hover {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
}

.saving-button {
  background-color: #007bff; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte */
  border: none; /* Supprime la bordure */
  padding: 8px 16px; /* Espacement intérieur du bouton */
  border-radius: 4px; /* Arrondi des coins */
  cursor: pointer; /* Curseur au survol */
  transition: background-color 0.3s ease; /* Animation de transition */
}

.saving-button:hover {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
}
