.upcoming {
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 32px;
    font-size: 24px;
  }

  i {
    position: relative;
    display: inline-block; /* Ajouter cette ligne pour que l'élément <i> occupe seulement l'espace nécessaire */
    background-image: linear-gradient(to right, #9796f0, #fbc7d4); /* Dégradé de couleur */
    -webkit-background-clip: text; /* Utilisation du dégradé comme clip pour le texte (pour les navigateurs WebKit) */
    background-clip: text; /* Utilisation du dégradé comme clip pour le texte */
    color: transparent; /* Rendre le texte transparent */
  }

  .img-div {
    position: relative;
    width: 100%; /* Adjust as needed */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden;
  }

  h3 {
    font-size: 14px;
    margin: 0;
    white-space: nowrap; /* Prevents the text from wrapping to a new line */
    overflow: hidden; /* Hides the overflow text */
    text-overflow: ellipsis; /* Displays an ellipsis ('...') to indicate text has been cut off */
    width: 100%; /* Adjust this as needed, could be a specific pixel value or percentage */
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 4px;
  }
}

.simple-calendar {

  .button-modal {
    background-color: #262525;
    color: $white;
    border-left: 2px solid !important;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-image: linear-gradient(to top, #9796f0, #fbc7d4) 1;
    margin-left: 9px;
    text-align: start;
    margin: 1px;
    font-size: 14px;
}

  .button-modal:hover {
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    color: $black;
  }

  a {
    text-decoration: none;
    color: $white;
  }

  th {
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $grey;
    text-align: center;
    color: $grey;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  td {
    border-bottom-color: $grey;
    border-top-color: $grey;
    border-left-color: $grey;
    border-right-color: $grey;
  }

  table {
    border-top:none;
    border-left: none;
    border-right: none;
  }

  .day {
    color: white;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: transparent
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    color: $gray;
    background-color: transparent
  }
  .next-month { }
  .current-month {}

  .has-events {
  }

  tr {
    color:blue;
  }

  .flexbox {
    display: flex;
    justify-content: space-evenly; // justify-content: space-between;
    flex-direction: column;
    background-color:$darkgrey;
    border-radius: 4px;
    padding: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
  }

  .red-circle {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
  }

}

.modal-bg {
  background-color: #262525 !important;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-color: #2f2e2e solid 1px;
}

.modal-border {
  border-bottom-color: #2f2e2e !important;
}

.modal-border-top {
  border-top-color: #2f2e2e !important;
}

.modal-text-color {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  color: #9796f0;
  -webkit-background-clip: text; /* Pour les navigateurs basés sur WebKit */
  background-clip: text; /* Définir le clip sur le texte */
  color: transparent;
  border: $white;
  font-size: 16px;
}
