.container-colored {
  background-color: #262525;
  border-radius: 12px;
  // border: $grey solid 0.5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  height: auto;
}

.custom-cursor {
  cursor: url("https://res.cloudinary.com/dkr1l2a2k/image/upload/v1710232298/Custom_cursor_w2dcqo.png"), auto;
}

.square-column {
  height: 20%;
  width: 20%;
  // background-color: $darkgrey;
  margin-top: 4px;
}

// .gradient-container-offer {
//   background-image: linear-gradient(to right, #9796f0, #fbc7d4);
//   border-radius: 12px;
//   pointer-events: none;
//   transform: translateY(-4px) rotate(5deg);
//   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
//   margin-top: 12px;
//   position: relative;
//   background-color: #E0FFFF; /* Couleur de fond par défaut */
//   transition: background-image 0.3s ease;
// }

.gradient-container-offer {
  position: relative;
  background-color: rgba(151, 150, 240, 0.7);
  border-radius: 12px;
  transform: translateY(-4px) rotate(5deg);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  margin-top: 12px;
  transition: background-color 0.3s ease; /* Transition fluide pour le changement de couleur de fond */
}

// .gradient-container-offer::before {
//   content: "";
//   position: absolute;
//   top: 2px;
//   right: -40px; /* Décalage à droite de l'image */
//   bottom: 0;
//   left: 80px;
//   background-image: url("https://res.cloudinary.com/dkr1l2a2k/image/upload/v1710240233/Pablo_the_foxi_1_qlejac.png"); /* Image de fond */
//   background-size: cover;
//   background-position: center;
//   z-index: -1; /* Assure que l'image est en arrière-plan */
//   opacity: 1; /* L'image est initialement visible */
//   transition: opacity 0.2s ease; /* Transition fluide pour le changement de visibilité de l'image */
// }


// .gradient-container-offer:hover::before {
//   opacity: 1; /* L'image devient visible au survol */
// }

// .gradient-container-offer:hover {
//   background-color: rgba(151, 150, 240, 0.7); /* Couleur de fond avec une opacité pour voir l'image en arrière-plan */
// }

/////////////

// .gradient-container-offer::before {
//   content: "";
//   position: absolute;
//   top: 2px;
//   right: -40px; /* Décalage à droite de l'image */
//   bottom: 0;
//   left: 80px;
//   background-image: url("https://res.cloudinary.com/dkr1l2a2k/image/upload/v1710241646/output-onlinegiftools_1_aprppf.gif"); /* Image de fond */
//   background-size: cover;
//   background-position: center;
//   z-index: -1; /* Assure que l'image est en arrière-plan */
//   opacity: 0; /* L'image est initialement invisible */
//   transition: opacity 0.2s ease; /* Transition fluide pour le changement de visibilité de l'image */
// }

// .gradient-container-offer:hover::before {
//   opacity: 1; /* L'image devient visible au survol */
// }

// .gradient-container-offer:hover {
//   background-color: rgba(151, 150, 240, 0.7); /* Couleur de fond avec une opacité pour voir l'image en arrière-plan */
// }

/////////////
///
.gradient-container {
  // border-image: linear-gradient(to right, #9796f0, #fbc7d4) 1;
  border: 1px solid $white;
  border-radius: 12px;
  pointer-events: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.foxi {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 1px;
  right: -58px;
}
