.container-application {
  margin-top: 33px;
  margin-bottom: 20px;
  transition: margin-left 0.3s; /* Ajouter une transition pour une animation fluide */
  margin-left: 250px;
}

.container-application-column {
  display: flex;
}

.column1 {
  flex: 3; /* La colonne 1 occupe 3 fois plus d'espace que la colonne 2 */
  width: 900px; /* Largeur spécifique pour la colonne 1 */
}

.column2 {
  flex: 1; /* La colonne 2 occupe 1 fois l'espace de la colonne 1 */
  width: 300px; /* Largeur spécifique pour la colonne 2 */
}

.container-background {
  background-image: linear-gradient(to right, rgba(151, 150, 240, 0.8), rgba(251, 199, 212, 0.8));
  padding: 30px 30px;
}

#interaction-link {
  text-decoration: none;
  color: $purple;
}
