
.column {
  flex: 1;
  margin: 0 30px 20px;

}

.column-content {
  display: flex;
}

.horizontal-scrolling {
  min-width: 98%;
  max-width: 98%;
  overflow-x: scroll;
}

.vertical-scrolling {
  min-height: 65%;
  max-height: 65%;
  overflow-y: scroll;
}

.job-card {
  padding-left: 11px;
  padding-top: 8px;
  padding-bottom: 0.5px;
  padding-right: 15px;
  margin-bottom: 10px;
  margin-top: 12px;
  margin-left: 9px;
  color: $white; /* Couleur du texte */
  border: 1px solid;
  border-radius: 8px;
  background-image: linear-gradient(to right, rgba(151, 150, 240, 1), rgba(251, 199, 212, 1)); /* Changement ici */
  cursor: pointer;
  min-width: 200px;
  height: 90px;
}


.job-card-grey {
  padding-left: 11px;
  padding-top: 8px;
  padding-bottom: 0.5px;
  padding-right: 15px;
  margin-bottom: 10px;
  margin-top: 12px;
  margin-left: 9px;
  color: $white; /* Couleur du texte */
  border: 1px solid;
  border-radius: 8px;
  background-image: linear-gradient(to top, #1c1c1c, #262525);
  cursor: pointer;
  width: 200px;
  height: 90px;
}

.job-card:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, #fbc7d4, #9796f0);
}

.quote {
  font-family: 'Dancing Script';
  font-size: 23px !important;
  color: #7b7b7b;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.job-details {
  display: none;
}

.job-details:hover {
  display: contents;
}
