
.column {
  flex: 1;
  margin: 0 30px 20px;

}

.column-content {
  display: flex;
}

.job-card {
  padding-left: 11px;
  padding-top: 8px;
  padding-bottom: 0.5px;
  margin-bottom: 10px;
  color: $white; /* Couleur du texte */
  // border-image: linear-gradient(to right, #9796f0, #fbc7d4) 1;
  height: fit-content;
  margin-top: 15px;
  border: 1px solid;
  // border-image: linear-gradient(to top, #9796f0, #fbc7d4) 1;
  background-image: linear-gradient(to top, #9796f0, #fbc7d4);
  border-radius: 8px;
  margin-left: 9px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 12px;
  width: 100% !important;
}

.job-details {
  display: none;
}

.job-details:hover {
  display: contents;
}
