
.column {
  flex: 1;
  margin: 0 30px 20px;

}

.column-content {
  display: flex;
}

.horizontal-scrolling {
  max-width: 90%;
  overflow-x: scroll;
}

.job-card {
  padding-left: 11px;
  padding-top: 8px;
  padding-bottom: 0.5px;
  padding-right: 15px;
  margin-bottom: 10px;
  margin-top: 12px;
  margin-left: 9px;
  color: $white; /* Couleur du texte */
  height: fit-content;
  border: 1px solid;
  border-radius: 8px;
  background-image: linear-gradient(to top, #9796f0, #fbc7d4);
  cursor: pointer;
  width: fit-content;
  min-width: 150px;
}

.job-card:hover {
  transform: translateY(-5px) rotate(2deg); /* Translation vers le haut et rotation légère */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre au survol */
  background-image: linear-gradient(to top, #fbc7d4, #9796f0); /* Changement de couleur de fond */
}

.job-details {
  display: none;
}

.job-details:hover {
  display: contents;
}
