.card-task i{
  font-size: 30px;
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  color: #9796f0;
  -webkit-background-clip: text; /* Pour les navigateurs basés sur WebKit */
  background-clip: text; /* Définir le clip sur le texte */
  color: transparent;
}

.card-task {
  font-size: 14px;
  margin-left: 1rem;
}

.card-task-ui:hover {
  background-image: linear-gradient(to right, #fbc7d4, $white);
  border-radius: 8px;
  color: #9796f0;
}

.card-task-ui:hover i {
  color: #7E7E7E;
}

.card-task-title {
  font-weight: 600;
}

.card-task-details {
  font-weight: 200;
  // margin-top: -30px;
}

.custom-checkbox {
  padding: 0.5rem;
}
/* Ne pas cacher la case à cocher par défaut */
.custom-checkbox input[type=checkbox] {
  opacity: 0; /* Rendre la case à cocher transparente */
  position: absolute; /* La position absolue permet de la masquer sans perdre l'espace qu'elle occupe */
}

/* Créer une apparence de case à cocher ronde */
.custom-checkbox input[type=checkbox] + div > label {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Rendre la case à cocher ronde */
  background-color: $white; /* Couleur de fond de la case à cocher */
  border: 1px solid #9796f0; /* Bordure de la case à cocher */
  cursor: pointer; /* Curseur de la souris */
  flex: 0 0 20px;
}

/* Modifier l'apparence de la case à cocher lorsqu'elle est cochée */
.custom-checkbox input[type=checkbox]:checked + div > label {
  background-color: #ff4da6; /* Couleur de fond lorsque la case est cochée */
  border: 4px solid $white;
}

.custom-checkbox input[type=checkbox]:checked + div > .card-task {
  text-decoration: line-through #9796f0;
  opacity: 0.9;
}

.line-between-divs {
  border-top: 0.2px solid $white;
  margin-top: 1px;
}

.padding-card {
  padding: 0.1rem !important;
  margin-bottom: 0rem !important;
}

.progress {
  width: 100%;
  background-color: $white;
  border-radius: 16px;
  margin-bottom: 10px;
  height: 16px;
}

.progress-bar {
  color: $black;
  text-align: center;
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  border-radius: 16px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: $pink; /* Change color as needed */
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.close:hover { /* Change hover color as needed */
  color: $purple;
}
