.container-timeline {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: -70px;
  background-color: #262525;
  border-image: linear-gradient(to right, #9796f0, #fbc7d4) 1;
  padding: 10px;
  box-shadow: 2px 1px 5px black;
  border-radius: 8px;
  position: relative;
}

.border-active-process {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  font-weight: bolder;
  padding: 5px; /* Police en gras pour attirer l'attention */
}

.timeline {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0; /* Réglage du margin pour annuler la marge précédente */ /* Correction de la déclaration de fond */
  color: $white; /* Si $black est une variable Sass, assurez-vous qu'elle est correctement définie et utilisée */
}


.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: min($numbers: 90px);
  width: 25%;
}

.white-line {
  height: 2px;
  background-color: $black;
  width: 25%;
}

.icone-sent {
  width: 60px;
  height: 50px;
  background-image: url("avion-en-papier.png");
  background-size: cover; /* Ajuste la taille de l'image pour remplir le conteneur */
  background-position: center; /* Centre l'image à l'intérieur du conteneur */
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #262525;/* Remplace $black par la couleur souhaitée */
}

.icone-interview {
  width: 60px;
  height: 50px;
  background-image: url("bavarder.png");
  background-size: cover; /* Ajuste la taille de l'image pour remplir le conteneur */
  background-position: center; /* Centre l'image à l'intérieur du conteneur */
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #262525; /* Remplace $black par la couleur souhaitée */
}

.icone-advanced {
  width: 60px;
  height: 50px;
  background-image: url("roue-dentee.png");
  background-size: cover; /* Ajuste la taille de l'image pour remplir le conteneur */
  background-position: center; /* Centre l'image à l'intérieur du conteneur */
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #262525; /* Remplace $black par la couleur souhaitée */
}

.icone-offer {
  width: 60px;
  height: 50px;
  background-image: url("trophee.png");
  background-size: cover; /* Ajuste la taille de l'image pour remplir le conteneur */
  background-position: center; /* Centre l'image à l'intérieur du conteneur */
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #262525; /* Remplace $black par la couleur souhaitée */
}
.timeline-item:not(:last-child) {
  margin-right: 20px; /* Marge entre chaque élément */
  flex-grow: 1; /* Divise l'espace entre chaque élément */
}

.timeline-item-content {
  text-align: center;
}

.timeline-item-content h3 {
  margin-top: 0;
  font-size: 14px;
  color: $white;
}

.timeline-item-content p {
  margin: 10px 0;
  font-size: 13px;
}

.timeline-item-date {
  font-size: 13px;
  margin-top: 5px;
  color: $white;
  font-size: 11px;
}
