.timeline {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0; /* Réglage du margin pour annuler la marge précédente */
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), $white; /* Correction de la déclaration de fond */
  color: $black; /* Si $black est une variable Sass, assurez-vous qu'elle est correctement définie et utilisée */
}


.container-timeline {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: -70px;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: min($numbers: 90px);
}

.white-line {
  height: 2px;
  background-color: $white;
  width: 100px;
}

.bubble-white {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $grey;
  margin-left: auto;
  margin-right: auto;
}

// .timeline-item:before {
//   content: '';
//   width: 15px;
//   height: 15px;
//   border-radius: 50%;
//   flex: 1;
//   background-color: $white;
// }

.timeline-item:not(:last-child) {
  margin-right: 20px; /* Marge entre chaque élément */
  flex-grow: 1; /* Divise l'espace entre chaque élément */
}

.timeline-item-content {
  text-align: center;
}

.timeline-item-content h3 {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
  color: $darkgrey;
}

.timeline-item-content p {
  margin: 10px 0;
  font-size: 13px;
}

.timeline-item-date {
  font-size: 13px;
  margin-top: 5px;
  color: $white;
}
